Repository ChwitKey/ChwitKey-Android, pull requests merged in 2023-07, with the labels that each got.

#15 Feature/14 my page layout
  .idea/.name
  .idea/vcs.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cherry_pick_android/ui/view/mypage/MyPageActivity.kt
  app/src/main/java/com/example/cherry_pick_android/ui/viewmodel/mypage/MyPageViewModel.kt
  app/src/main/res/drawable/icon_change_job.png
  app/src/main/res/drawable/icon_keyword_setting.png
  app/src/main/res/drawable/icon_saved_article.png
  app/src/main/res/drawable/icon_user_img.png
  app/src/main/res/layout/activity_my_page.xml
  app/src/main/res/values/strings.xml
Labels: 연두, 레이아웃

#14 Feature/13 first keyword layout
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cherry_pick_android/ui/view/keyword/firstKeywordActivity.kt
  app/src/main/java/com/example/cherry_pick_android/ui/view/login/LoginActivity.kt
  app/src/main/java/com/example/cherry_pick_android/util/PlatformManager.kt
  app/src/main/res/drawable/kakao_login.png
  app/src/main/res/drawable/keyword_btn_basic.xml
  app/src/main/res/drawable/keyword_btn_complete_basic.xml
  app/src/main/res/drawable/keyword_btn_complete_select.xml
  app/src/main/res/drawable/keyword_btn_select.xml
  app/src/main/res/drawable/naver_login.png
  app/src/main/res/layout/activity_firstkeyword.xml
  app/src/main/res/layout/layout_login.xml
  app/src/main/res/values/colors.xml
Labels: 준, layout

#20 Feature/19 gpt room layout
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cherry_pick_android/ui/view/gpt/GptActivity.kt
  app/src/main/java/com/example/cherry_pick_android/ui/viewmodel/mypage/MyPageViewModel.kt
  app/src/main/res/drawable/back.png
  app/src/main/res/drawable/ic_btn_send.xml
  app/src/main/res/drawable/ic_edittext_gpt.xml
  app/src/main/res/layout/activity_gpt.xml
  app/src/main/res/layout/activity_login.xml
Labels: 준, layout

#37 Feature/36 login home connect
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/home/HomeActivity.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/home/homeNews/HomeNewsFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/home/keyword/KeywordFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/home/scrap/ScrapFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/login/LoginActivity.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/newsSearch/NewsSearchActivity.kt
  app/src/main/res/layout/fragment_keyword.xml
  app/src/main/res/layout/fragment_scrap.xml
  app/src/main/res/menu/menu_bottom_nav_home.xml
Labels: 푸, layout, feature

#33 feature/19-gptRoomLayout
  app/src/main/AndroidManifest.xml
  app/src/main/res/drawable/ic_gpt_back.xml
  app/src/main/res/drawable/ic_gpt_et.xml
  app/src/main/res/drawable/ic_gpt_send.xml
  app/src/main/res/drawable/ic_gpt_truesend.xml
  app/src/main/res/layout/activity_gpt.xml
  app/src/main/res/layout/item_gpt_bubble.xml
  app/src/main/res/layout/item_gpt_mine_bubble.xml
  app/src/main/res/mipmap-hdpi/ic_gpt_bubble.9.png
  app/src/main/res/mipmap-hdpi/ic_gpt_mine_bublle.9.png
  app/src/main/res/mipmap-hdpi/ic_gpt_minebubble.9.png
  app/src/main/res/mipmap-mdpi/ic_gpt_bubble.9.png
  app/src/main/res/mipmap-mdpi/ic_gpt_mine_bublle.9.png
  app/src/main/res/mipmap-mdpi/ic_gpt_minebubble.9.png
  app/src/main/res/mipmap-xhdpi/ic_gpt_bubble.9.png
  app/src/main/res/mipmap-xhdpi/ic_gpt_mine_bublle.9.png
  app/src/main/res/mipmap-xhdpi/ic_gpt_minebubble.9.png
  app/src/main/res/mipmap-xxhdpi/ic_gpt_bubble.9.png
  app/src/main/res/mipmap-xxhdpi/ic_gpt_mine_bublle.9.png
  app/src/main/res/mipmap-xxhdpi/ic_gpt_minebubble.9.png
  app/src/main/res/mipmap-xxxhdpi/ic_gpt_bubble.9.png
  app/src/main/res/mipmap-xxxhdpi/ic_gpt_mine_bublle.9.png
  app/src/main/res/mipmap-xxxhdpi/ic_gpt_minebubble.9.png
  app/src/main/res/values/strings.xml
Labels: 준, layout, refactor

#38 [Feat] 최초 키워드 레이아웃 구현
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/firstKeyword/FirstKeywordFragment.kt
  app/src/main/res/drawable/ic_keyword_search.xml
  app/src/main/res/drawable/ic_keyword_search_background.xml
  app/src/main/res/layout/fragment_first_keyword.xml
Labels: 준, layout

#39 Feature/34 first keyword
  app/src/main/java/com/example/cherry_pick_android/presentation/adapter/KeywordAdapter.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/home/HomeActivity.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/keyword/FirstKeywordFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/keyword/Keyword.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/keyword/KeywordFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/keyword/SearchKeywordDetailFragment.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/keyword/SearchKeywordFragment.kt
  app/src/main/res/anim/horizon_enter_front.xml
  app/src/main/res/anim/horizon_exit_front.xml
  app/src/main/res/anim/none.xml
  app/src/main/res/drawable/ic_first_keyword_search.xml
  app/src/main/res/drawable/ic_keyword_btn.xml
  app/src/main/res/drawable/ic_keyword_complete.xml
  app/src/main/res/drawable/ic_keyword_et.xml
  app/src/main/res/drawable/ic_keyword_et_delete.png
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/fragment_first_keyword.xml
  app/src/main/res/layout/fragment_search_keyword.xml
  app/src/main/res/layout/fragment_search_keyword_detail.xml
  app/src/main/res/layout/item_keyword_btn.xml
Labels: 준, layout

#42 Feature/40 color string
  app/src/main/res/drawable/ic_bottom_nav_home_background.png
  app/src/main/res/drawable/ic_home_menu.png
  app/src/main/res/drawable/ic_home_true.xml
  app/src/main/res/drawable/ic_keyword_false.xml
  app/src/main/res/drawable/ic_keyword_menu.png
  app/src/main/res/drawable/ic_my_page_false.xml
  app/src/main/res/drawable/ic_my_page_menu.png
  app/src/main/res/drawable/ic_nav_background.xml
  app/src/main/res/drawable/ic_scrap_false.xml
  app/src/main/res/drawable/ic_scrap_menu.png
  app/src/main/res/layout/activity_gpt.xml
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/activity_news_search.xml
  app/src/main/res/layout/activity_search_list.xml
  app/src/main/res/layout/fragment_home_news.xml
  app/src/main/res/layout/item_gpt_bubble.xml
  app/src/main/res/layout/item_gpt_mine_bubble.xml
  app/src/main/res/layout/news_item.xml
  app/src/main/res/menu/menu_bottom_nav_home.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: 푸, layout, feature

#41 Feature/37 profile setting layout
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/mypage/ProfileActivity.kt
  app/src/main/java/com/example/cherry_pick_android/presentation/ui/mypage/ProfileFragment.kt
  app/src/main/res/drawable/ic_pencil.png
  app/src/main/res/drawable/ic_photo_back.png
  app/src/main/res/drawable/ic_photo_camera.png
  app/src/main/res/drawable/ic_photo_change.xml
  app/src/main/res/drawable/ic_user.xml
  app/src/main/res/drawable/ic_user_back.png
  app/src/main/res/drawable/ic_user_img.png
  app/src/main/res/drawable/icon_back_arrow.png
  app/src/main/res/drawable/icon_edit.png
  app/src/main/res/drawable/icon_user_img.png
  app/src/main/res/layout/activity_profile.xml
  app/src/main/res/layout/fragment_mypage.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/values/strings.xml
Labels: 연두, layout
